@charset "UTF-8";

@media screen and (max-width:414px){

  body {
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }

  header label {
    display: none;
  }

  header select {
    -webkit-appearance: none;
    appearance: none;
    width: 9em;
    height: 30px;
    border: 1px solid #008800;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 3px;
    margin-left: 10px;
    color: #008800;
  }

  header .menubtn {
    position: absolute;
    top: 3px;
    right: 20px;
    border: 1px solid #008800;
    border-radius: 4px;
    padding: 3px;
    background-color: #008800;
    color: white;
  }


  header .navi {
    width: 100%;
    display: none;
    position: absolute;
    top: 102px;
    left: -40px;
    background-color: #003300;
  }


  header .navi li {
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
  }

  header .navi li:first-child {
    font-size: 20px;
  }

  header .navi a {
    text-decoration: none;
    color: white;
  }


  header .title h1 {
    width: 100%;
    text-align: center;
    color: #008800;
    border-bottom: 5px solid;
    padding-right: 0;
    padding-bottom: 10px;
  }

  header .yoyaku {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #008800;
    border-right: 1px solid #008800;
    border-bottom: 1px solid #008800;
    border-left: 1px solid #008800;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin: 0;
    background-color:  #008800;
    cursor: pointer;
  }


  header .yoyaku a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    margin-right: 0;
    color: white;
    font-size: 6vw;

  }

  main .pankuzu ul {
    display: flex;
  }

  main .pankuzu  li {
    list-style: none;
    padding: 6px;
  }

  main .pankuzu li a {
    text-decoration: none;
    color: #008800;
  }

  main .colo {
    color: #33CC99
  }

  main .pankuzu h2 {
    text-align: center;
    font-size: 30px;
    color: #008800;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;
  }

  main .info {
    border: 1px solid #33CC99;
    border-radius: 6px;
    padding: 15px 13px;
    margin: 0 20px;
  }

  main .info li {
    list-style-type: none;
    color: #008800;
    font-size: 14px;
    font-weight: 900;
  }

  main .info li:last-child {
    color: black;
    font-weight: 400;
    padding-top: 10px;
  }

  main .info2 h2 {
    text-align: left;
    margin: 20px 56px;
    color: #008800;
  }

  main .info3 {
    text-align: center;
    border: 1px solid #99FFCC;
    border-radius: 6px;
    margin: 10px 20px;
    background-color: #99FFCC;

  }

  main .info3 p {
    text-align: center;
    color: #008800;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: 550;
  }

  main .info3 dl {
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    margin: 13px;
  }

  main .info3 dt {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  main .info3 a {
    color: #008800;
    font-size: 18px;
    font-weight: bold;
  }

  main .info3 dd {
    color: #008800;
    padding-right: 45px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  main .info3 dd:last-child {
    padding-top: 0px;
  }

  main .info4 h2 {
    text-align: left;
    margin: 20px 56px;
    color: #008800;
  }

  main .list {
    text-align: left;
    margin-left: 0px;
  }

  main .info4 p {
    margin: 30px auto;
  }

  main .list a {
    color: #008800;
    text-decoration: none;
  }

  main #list1 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #99FFCC;
  }

  main #list2 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #99FFCC;
  }

  main #list3 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #99FFCC;
  }

  main #list4 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #99FFCC;
  }

  main #list5 {
    width: 235px;
    padding: 10px 15px;
    margin-left: 55px;
  }

  main .info5 h2 {
    text-align: left;
    margin: 20px 56px;
    color: #008800;
  }

  main .info6 {
    text-align: left;
    border: 1px solid #99FFCC;
    border-radius: 6px;
    margin: 20px 20px;
    background-color: #99FFCC;
  }

  main .info6  dt {
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-left: 8px;
    color: #008800;
    font-size: 14px;
    font-weight: 550;
  }

  main .info6 dd {
    margin: 0px 10px;
    font-size: 14px;
  }

  main .info6 a {
    color:  #008800;
  }

  main .info6 dd::before {
    content:  "・";
  }


  main .form-table {
    text-align: center;
  }
  main .form-table {
    border: 1px solid;
    border-collapse: collapse;
    margin-right: 10px;
    margin-left: 10px;
  }

  main .form-table th {
    text-align: left;
  }

  main #hissu1 {
    margin-left: 180px;
    background-color: #008800;
    color: white;
  }

  main #hissu2 {
    margin-left: 160px;
    background-color: #008800;
    color: white;
  }

  main #hissu3 {
    margin-left: 190px;
    background-color: #008800;
    color: white;
  }

  main #hissu4 {
    margin-left: 157px;
    background-color: #008800;
    color: white;
  }


  main #hissu5 {
    margin-left: 107px;
    background-color: #008800;
    color: white;
  }

  main #hissu6 {
    margin-left: 183px;
    background-color: #008800;
    color: white;
  }

  main #hissu7 {
    margin-left: 20px;
    background-color: #008800;
    color: white;
  }

  main .form {
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 2px solid #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
  }

  main .form dt {
    background-color: #DDDDDD
  }

  main .form .name dt {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .form .name dd input[type="text"] {
    width: 7em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .form dd {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  main .hissu {
    text-align: right;
  }

  main .post dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .post dd input[type="text"] {
    width: 7em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .jusyo dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .jusyo dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .phone dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .phone dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .mail dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .mail dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .kenmei dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main select {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 4px;
    font-size: 16px;
  }

  main .comments dt {
    border-top:1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .comments dd textarea {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .hissu {
    width: 100px;
    border: 1px solid #008800;
    border-radius: 20px;
    padding: 5px;
  }

  main .button {
    width: 50%;
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 5px;
    padding-bottom: 0.5em;
    padding-left: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color:  #008800;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 19px;
  }

  main .button:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  main .button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  footer #pageTop {
    display: none;
  }

  footer .sub_info2 {
    background-color: #008800;
  }

  footer .sub_info2 p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-top: 1px solid  #008800;
    border-bottom: 2px solid #005500;
    background-color:  #008800;
    color: white;
  }

  footer .sub_info2 {
    background-color: #008800;
    color: white;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  footer .info6 {
    position: relative;
    top: -14px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  footer #All {
    text-align: center;
    margin-bottom: 100px;
  }
}
