@charset "UTF-8";

@media screen and (min-width:1025px){

  body {
    padding: 0;
    margin: 0;
  }

  header label {
    display: none;
  }

  header select {
    -webkit-appearance: none;
    appearance: none;
    width: 9em;
    height: 30px;
    border: 1px solid #008800;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 3px;
    margin-left: 10px;
    color: #008800;
  }

  header .menubtn {
    display: none;
  }

  header .navi {
    width: 100%;
    display: flex;
    position: relative;
    top: -22px;
    padding-left: 20px;
    background-color: #008800;
    text-align: center;
  }

  header .navi li {
    list-style-type: none;
    border-bottom: 2px solid #008800;
    padding: 10px;
    margin-left: 18px;
    font-size: 2vw;
  }

  header .navi li a {
    text-decoration: none;
    color: white;
  }

  header .title h1 {
    width: 100%;
    text-align: center;
    color: #008800;
    border-bottom: 5px solid;
    padding-right: 0;
    padding-bottom: 10px;
  }

  header .yoyaku {
    position: absolute;
    top: 30px;
    right: 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0;
    background-color:  #008800;
  }

  header .yoyaku a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
  }

  main {
    height: 1000px;
    text-align: center;
    border: 1px solid #99FFCC;
    margin: 10px 20px;
  }

  main .form {
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 2px solid #CCCCCC;
  }

  main .form dt {
    background-color: #DDDDDD
  }

  main .form .name dt {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .form dd {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  main .post dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .jusyo dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }


  main .phone dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .mail dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .kenmei dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .comments dt {
    border-top:1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .btn1 {
    position: absolute;
    right: 300px;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    margin-top: 10px;
    margin-left: 10px;
    background-color:  #FF3333;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 17px;
  }

  main .btn2 {
    position: absolute;
    left: 300px;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #3366CC;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 17px;
  }

  main .button:hover {
  cursor: pointer;
  opacity: 0.7;
  }

  main .button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  }

  main #pageTop {
    position: relative;
    top: 110px;
    border: 1px solid #008800;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: #008800;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  footer .sub_info2 {
    background-color: #008800;
  }

  footer .sub_info2 p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-top: 1px solid  #008800;
    border-bottom: 2px solid #005500;
    background-color:  #008800;
    color: white;
  }

  footer .sub_info2 {
    background-color: #008800;
    color: white;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  footer .info6 {
    position: relative;
    top: -14px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  footer #All {
    text-align: center;
    margin-bottom: 30px;
  }
  }
  }
