@charset "UTF-8";

@media screen and (min-width:1025px){

  body {
    padding: 0;
    margin: 0;
  }

  header label {
    display: none;
  }

  header select {
    -webkit-appearance: none;
    appearance: none;
    width: 9em;
    height: 30px;
    border: 1px solid #008800;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 3px;
    margin-left: 10px;
    color: #008800;
  }

  header .menubtn {
    display: none;
  }

  header .navi {
    width: 100%;
    display: flex;
    position: relative;
    top: -22px;
    padding-left: 20px;
    background-color: #008800;
    text-align: center;
  }

  header .navi li {
    list-style-type: none;
    border-bottom: 2px solid #008800;
    padding: 10px;
    margin-left: 18px;
    font-size: 2vw;
  }

  header .navi li a {
    text-decoration: none;
    color: white;
  }

  header .title h1 {
    width: 100%;
    text-align: center;
    color: #008800;
    border-bottom: 5px solid;
    padding-right: 0;
    padding-bottom: 10px;
  }

  header .yoyaku {
    position: absolute;
    top: 30px;
    right: 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0;
    background-color:  #008800;
  }

  header .yoyaku a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
  }

  main {
    height: 2600px;
    text-align: center;
    border: 1px solid #99FFCC;
    margin: 60px 20px;
  }

  main .pankuzu ul {
    display: flex;
  }

  main .pankuzu  li {
    list-style: none;
    padding: 6px;
  }

  main .pankuzu li a {
    text-decoration: none;
    color: #008800;
  }

  main .colo {
    color: #33CC99
  }

  main .pankuzu li::after {
    content: ">";
    position: relative;
    bottom: 1px;
    padding: 0px 10px;
    color: #005500;
  }

  main .pankuzu li:last-child::after {
    content: none;
    color: #4DF9B9;
  }

  main .pankuzu h2 {
    text-align: center;
    font-size: 30px;
    color: #008800;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;
  }

  main .info {
    border: 1px solid #33CC99;
    border-radius: 6px;
    padding: 15px 13px;
    margin: 0 20px;
  }

  main .info li {
    list-style-type: none;
    color: #008800;
    font-size: 14px;
    font-weight: 900;
  }

  main .info li:last-child {
    color: black;
    font-weight: 400;
    padding-top: 10px;
  }

  main .info2 h2 {
    margin: 20px 56px;
    color: #008800;
  }

  main .info3 {
    text-align: center;
    border: 1px solid #99FFCC;
    border-radius: 6px;
    margin: 10px 20px;
    background-color: #99FFCC;
  }

  main .info3 p {
    text-align: center;
    color: #008800;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: 550;
  }

  main .info3 dl {
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    margin: 13px;
  }

  main .info3 dt {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  main .info3 a {
    color: #008800;
    font-size: 18px;
    font-weight: bold;
  }

  main .info3 dd {
    color: #008800;
    padding-right: 45px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  main .info3 dd:last-child {
    padding-top: 0px;
  }

  main .info4 h2 {
    text-align: center;
    margin: 20px 56px;
    color: #008800;
  }

  main .info4 p {
    margin: 30px auto;
  }

  main .list {
    text-align: center;
    margin: auto 10px;
  }

  main .list a {
    color: #008800;
    text-decoration: none;
  }

  main #list1 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 225px;
    margin-left: 225px;
    background-color: #99FFCC;
  }

  main #list2 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 225px;
    margin-left: 225px;
    background-color: #99FFCC;
  }

  main #list3 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 225px;
    margin-left: 225px;
    background-color: #99FFCC;
  }

  main #list4 {
    width: auto;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 0px;
    margin-right: 225px;
    margin-left: 225px;
    background-color: #99FFCC;
  }

  main #list5 {
    width: auto;
    padding: 10px 15px;
  }

  main .info5  {
    text-align: center;
    margin: 20px 56px;
    color: #008800;
  }

  main .info6 {
    text-align: left;
    border: 1px solid #99FFCC;
    border-radius: 6px;
    margin: 20px 20px;
    background-color: #99FFCC;
  }

  main .info6  dt {
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-left: 8px;
    color: #008800;
    font-size: 14px;
    font-weight: 550;
  }

  main .info6 dd {
    margin: 0px 10px;
    font-size: 14px;
  }

  main .info6 a {
    color:  #008800;
  }

  main .info6 dd::before {
    content:  "・";
  }


  main .form-table {
    text-align: center;
  }
  main .form-table {
    border: 1px solid;
    border-collapse: collapse;
    margin-right: 10px;
    margin-left: 10px;
  }

  main .form-table th {
    text-align: left;
  }

  main #hissu1 {
    margin-left: 178px;
    background-color: #008800;
    color: white;
  }

  main #hissu2 {
    margin-left: 160px;
    background-color: #008800;
    color: white;
  }
  main #hissu3 {
    margin-left: 190px;
    background-color: #008800;
    color: white;
  }

  main #hissu4 {
    margin-left: 155px;
    background-color: #008800;
    color: white;
  }

  main #hissu5 {
    margin-left: 107px;
    background-color: #008800;
    color: white;
  }

  main #hissu6 {
    margin-left: 183px;
    background-color: #008800;
    color: white;
  }

  main #hissu7 {
    margin-left: 20px;
    background-color: #008800;
    color: white;
  }

  main .form {
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 2px solid #CCCCCC;
  }

  main .form dt {
    background-color: #DDDDDD
  }

  main .form .name dt {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .form .name dd input[type="text"] {
    width: 7em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .form dd {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  main .hissu {
    text-align: right;
  }

  main .post dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .post dd input[type="text"] {
    width: 7em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .jusyo dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .jusyo dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .phone dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .phone dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .mail dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .mail dd input[type="text"] {
    width: 16em;
    height: 3em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .kenmei dt {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  }

  main select {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 4px;
    font-size: 16px;
  }

  main .comments dt {
    border-top:1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .comments dd textarea {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
  }

  main .hissu {
    width: 100px;
    border: 1px solid #008800;
    border-radius: 20px;
    padding: 5px;
  }

  main .button {
    position: relative;
    top: 110px;
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-left: 80px;
    background-color:  #008800;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 19px;
  }

  main .button:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  main .button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

  main #pageTop {
    position: relative;
    top: 135px;
    border: 1px solid #008800;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: #008800;
  }

footer {
  padding: 0;
  margin: 0;
}

footer .sub_info2 {
  background-color: #008800;
}

footer .sub_info2 p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 20px;
  border-top: 1px solid  #008800;
  border-bottom: 2px solid #005500;
  background-color:  #008800;
  color: white;
}

footer .sub_info2 {
  background-color: #008800;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .info6 {
  position: relative;
  top: -14px;
  padding-top: 0;
  padding-bottom: 10px;
}

footer #All {
  text-align: center;
  margin-bottom: 30px;
}

/* footer ここまで */
}
}
