@charset "UTF-8";

  @media screen and (max-width:415px){

  body {
    padding: 0;
    margin: 0;
  }

  header label {
    display: none;
  }

  header select {
    -webkit-appearance: none;
    appearance: none;
    width: 9em;
    height: 30px;
    border: 1px solid #008800;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 3px;
    margin-left: 10px;
    color: #008800;
  }

  header .menubtn {
    position: absolute;
    top: 3px;
    right: 20px;
    border: 1px solid #008800;
    border-radius: 4px;
    padding: 3px;
    background-color: #008800;
    color: white;
    cursor: pointer;
  }

  header .navi {
    display: none;
  }

  header .navi {
    width: 100%;
    height: 285px;
    position: absolute;
    top: 109px;
    left: 0px;
    padding-left: 0;
    margin-top: 9px;
    background-color: #005500;
  }

  header .navi li {
    list-style-type: none;
    border-bottom: 2px solid #003300;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  header .navi li:last-child {
    border: none;
  }

  header .navi li:first-child {
    font-size: 19px;
  }

  header .navi li a {
    text-decoration: none;
    color: white;
  }

  header .title h1 {
    width: 100%;
    text-align: center;
    color: #008800;
    border-bottom: 5px solid;
    padding-right: 0;
    padding-bottom: 10px;
  }

  header .yoyaku {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    margin: 0;
    background-color:  #008800;
    cursor: pointer;
  }

  header .yoyaku:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  header .yoyaku a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    margin-right: 0;
    color: white;
    font-size: 18px;
  }

  main {
    height: 820px;
    text-align: center;
    margin-bottom: 80px;
  }

  main h2 {
    text-align: center;
  }

  main .check {
    text-align: center;
  }

  main .form {
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 2px solid #CCCCCC;
    text-align: center;
  }

  main .form dt {
    background-color: #DDDDDD;
  }

  main .form .name dt {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .form dd {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  main .hissu {
    text-align: right;
  }

  main .post dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .jusyo dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .phone dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .mail dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .kenmei dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .comments dt {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  main .btn1 {
    position: absolute;
    right: 30px;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    margin-top: 10px;
    margin-left: 10px;
    background-color:  #FF3333;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 17px;
  }

  main .btn2 {
    position: absolute;
    left: 5px;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #3366CC;
    color: #FFF;
    border-bottom: 4px solid  #627295;
    border-radius: 7px;
    font-size: 17px;
  }

  main #pageTop {
    display: none;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  footer .sub_info2 {
    background-color: #008800;
    background-color: #008800;
    color: white;
  }

  footer .sub_info2 p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-top: 1px solid  #008800;
    border-bottom: 2px solid #005500;
    background-color:  #008800;
    color: white;
  }

  footer .sub_info2 li {
    padding-top: 18px;
    padding-bottom: 18px;
  }


  footer .info6 {
    position: relative;
    top: -14px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  footer #All {
    text-align: center;
  }
